table {
	border-collapse: collapse;
	margin-top: 10px;
}
th, td {
	padding: 5px;
	border: 1px solid black;
	font-family: "Open Sans", sans-serif;
}
td {
	width: 60px;
	height: 40px;
}
#app {
	width: 600px;
}
#app input {
	width: 60px;
}
button {
	margin-top: 8px;
}
.delete {
	border: none;
}
.delete:hover {
	cursor: pointer;
}
#body {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	margin-right: 0;
}
h1, h2, h3, p {
	font-family: "Open Sans", sans-serif;
}
#xlabel input, #ylabel input {
	width: 200px;
	text-align: center;
	font-family: "Open Sans", sans-serif;
}
#xlabel div, #ylabel div {
	width: 200px;
	text-align: center;
	font-family: "Open Sans", sans-serif;
}
#xlabel {
	width: 200px;
	margin: auto;
	position: relative;
	top: 640px;
}
#ylabel {
	width: 200px;
	transform: rotate(-90deg);
	position: relative;
	right: 80px;
	top: 250px;
}
#chartcontainer {
	overflow: hidden;
	margin-top: -25px;
}
#coordinatelist {
	padding: 10px;
}
#nav {
	display: flex;
	justify-content: space-evenly;
/* 	border-style: solid;
	border-width: 1px;
 */}
.button {
	flex-grow: 1;
	text-align: center;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: solid 2px white;
	font-family: "Open Sans", sans-serif;
}
#nav .button:hover {
	cursor: pointer;
	border: solid 2px #fd8e2f;
}
.active {
	border: solid 2px red;
}
.add {
	cursor: pointer;
}