table {
	border-collapse: collapse;
}
th, td {
	padding: 5px;
	border: 1px solid black;
}
td {
	width: 50px;
	height: 40px;
}
input {
	width: 50px;
}
button {
	margin-top: 8px;
}
.delete {
	border: none;
}
#body {
	display: flex;
	justify-content: space-evenly;
}
#app, #chart {
}