<html>
	<head>
		<link rel="stylesheet" href="editabletable.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<title> Graphing App </title>
	</head>
	<body>
	<div id="body">
		<div id="app">
			<h3>Instructions</h3>
			<p>Click on the Data Table or click the edit button to edit the table.</p>
			<p>Use Tab to move to the next table cell and Shift+Tab to move to the previous table cell</p>
			<table>
				<tr>
					<th v-html="changeX"></th>
					<th v-html="changeY"></th>
				</tr>
				<tr v-for="(item, index) in detectLinearization">
					<td v-on:click="edit=true"><div v-show="edit==false">{{+parseFloat(item.x).toFixed(4)}}</div><input v-show="edit" v-bind:value="item.x" v-model.number="item.x" v-on:keyup.esc="edit=false" type="number" v-focus></td>
					<td v-on:click="edit=true"><div v-show="edit==false">{{+parseFloat(item.y).toFixed(4)}}</div><input v-show="edit"  v-bind:value="item.y" v-model.number="item.y" v-on:keyup.esc="edit=false" type="number"></td>
					<td v-show="index != 0" class="delete" v-on:click="deleteRow(item)">
						<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
							<path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
							<path d="M0 0h24v24H0z" fill="none"></path>
						</svg>
					</td>
				</tr>
			</table>
			<button v-show="edit" v-on:click="addRow"> Add row </button>
			<button v-show="edit==false" v-on:click="edit = true">Edit</button>
			<button id="done" v-show="edit" v-on:click="edit = false">Done</button>
			<h2>Linearization Buttons</h2>
			<p>Please unlinearize before editing points</p>
			<input type="checkbox" id="Square x" v-model="linearization" value="Square x"><label for="Square x">Square x</label>
			<input type="checkbox" id="Square y" v-model="linearization" value="Square y"><label for="Square y">Square y</label>
			<input type="checkbox" id="1/x" v-model="linearization" value="1/x"><label for="1/x">1/x</label>
			<input type="checkbox" id="1/y" v-model="linearization" value="1/y"><label for="1/y">1/y</label>
			<div>
				<h2> Mode </h2>
				<input type="radio" name="mode" id="Physics" v-model="mode" value="Physics" checked><label for="Physics">Physics Mode</label>
				<input type="radio" name="mode" id="Stats" v-model="mode" value="Stats"><label for="Stats">Statistics Mode</label>
				<h3>Equation</h3>
				<p> <span v-html="changeY"></span> = {{+parseFloat(lineRegEq[0]).toFixed(4)}}<span v-html="changeX"></span> + {{+parseFloat(lineRegEq[1]).toFixed(4)}}</p>
				<p> r = {{+parseFloat(lineRegEq[6]).toFixed(4)}}</p>
				<p> r<sup>2</sup> = {{+parseFloat(lineRegEq[7]).toFixed(4)}}</p>
				<div v-if="mode == 'Stats'">
					<h3> Statistic Info </h3>
					<p> If Sample is selected, Standard Deviation will be adjusted <br> using Bessel's correction </p>
					<input type="radio" name="sample" id="Population" v-model="sdMode"  value="Population" checked><label for="Population">Entire Population</label>
					<input type="radio" name="sample" id="Sample" v-model="sdMode" value="Sample"><label for="Sample">Sample</label>
					<p> Standard Deviation of X: {{+parseFloat(lineRegEq[5]).toFixed(4)}} </p>
					<p> Standard Deviation of Y: {{+parseFloat(lineRegEq[4]).toFixed(4)}} </p>
					<p> Mean of X = {{+parseFloat(lineRegEq[3]).toFixed(4)}}</p>
					<p> Mean of Y = {{+parseFloat(lineRegEq[2]).toFixed(4)}}</p>
				</div>
			</div>
		</div>
		<div id="chartcontainer">
			<div id="xlabel">
				<input type="text" v-model="xLabel" v-show="edit" v-on:blur="edit=false">
				<div v-show="edit==false" v-on:click="edit=true">{{xLabel}}</div>
			</div>
			<div id="ylabel">
				<input type="text" v-model="yLabel" v-show="edit" v-on:blur="edit=false">
				<div v-show="edit==false" v-on:click="edit=true">{{yLabel}}</div>
			</div>
		</div>
	</div>
<!-- 	<script src="https://www.gstatic.com/firebasejs/4.6.0/firebase.js"></script>
	<script>
		// Initialize Firebase
		var config = {
			apiKey: "AIzaSyAtM-LGOu_kAXh8ym95c80DzbQtfUX7kjo",
			authDomain: "simulation-account-database.firebaseapp.com",
			databaseURL: "https://simulation-account-database.firebaseio.com",
			projectId: "simulation-account-database",
			storageBucket: "simulation-account-database.appspot.com",
			messagingSenderId: "226753751963"
		};
		firebase.initializeApp(config);
	</script> -->
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<!-- <script src="vue.min.js"></script> -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="editabletable.js"></script>
	</body>
</html>